*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(53, 69, 99)
}

header{
    display: flex;
    justify-content: center;
}

li{
    float: left;
    background-color: cadetblue;
    height: 30px;
    width: 15%;
    margin: 0 10px;
    margin-top: 10px;
    margin-right: 1%;
    position: relative;
    list-style-type: none;
    display: inline;
    text-align: center;
}

.p-header{
    margin-top: 5px;
}

ol{
    
    background-color: rgb(110, 110, 155);
    height: 50px;
    width: 80%;
    margin-top: 40px;
}

main{
    margin-top: 20px;
    display: flex;
    background-color: rgb(110, 110, 155); 
    width: 80%;
    margin-left: 187px;  
}

section{
    padding: 35px;
    height: 250px;
    margin: 10px;
    background-color: rgb(199, 170, 160);
    
}

#s1{
    width: 2500px; 
}

p{
    margin-top: 10px
}